.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust the height as needed */
}

.centered-button {
    padding: 10px 20px;
    background-color: #4caf50;
    color: #ffffff;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin: 5px; /* Adds a margin between the buttons */
}

.attack-button {
    background-color: #ff0000; /* Custom background color for the attack button */
}

.retreat-button {
    background-color: #ffa500; /* Custom background color for the retreat button */
}